secrets.tfvars

aws/api-gateway/*
aws/docker-install/*
aws/plane-bypass/*
aws/cobaltstrike-server/*

digital-ocean/docker-install/*
digital-ocean/plane-bypass/*
digital-ocean/cobaltstrike-server/*

!.gitignore

!aws/api-gateway/aws.tf
!aws/api-gateway/outputs.tf
!aws/docker-install/aws.tf
!aws/docker-install/outputs.tf
!aws/plane-bypass/aws.tf
!aws/plane-bypass/outputs.tf
!aws/cobaltstrike-server/aws.tf
!aws/cobaltstrike-server/outputs.tf
!aws/cobaltstrike-server/manifests

!digital-ocean/docker-install/do.tf
!digital-ocean/docker-install/outputs.tf
!digital-ocean/plane-bypass/do.tf
!digital-ocean/plane-bypass/outputs.tf
!digital-ocean/cobaltstrike-server/do.tf
!digital-ocean/cobaltstrike-server/outputs.tf
!digital-ocean/cobaltstrike-server/manifests

